/*  your css code here. If applicable */
.main{
	width:875px;
	height:250px;
	background:#F5F5F5;
	
	
}
#section2{
	margin-top:10px;
}
div{
	width:825px;
	height:60px;
	background:white;
	display:block;
	padding:3px;
	padding-left:10px;
	margin-left:15px;
	margin-top:-20px;
	
}
p{
	text-align:right;
	margin:8px 15px;
	text-style:italic;
}
 .main h1{
	 margin:30px;
	 margin-left:20px;
	 display:inline-block;
	 
}