/*  your css code here. If applicable */

.main{
	width:875px;
	height:250px;
	background:#F5F5F5;
}

.section1,div{
	margin-bottom:35px;
}

.section1{
	width:825px;
	height:60px;
	background:white;
	display:block;
	padding:3px;
	padding-left:10px;
	margin-left:15px;
	margin-top:-20px;
}
p{
	
}
.p1{
	float:right;
	margin:8px 15px;
	margin-top:-17px;
	font-style:italic;
}

  h1{
	 margin:30px;
	 margin-left:20px;
	 display:inline-block;
	}